* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
  /* margin add space outside the container and padding add space inside the container. */
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__drops {
  padding: 10px;
  margin: 10px;
}

.app__left {
  margin-right: 20px;
  flex: 0.8;
}
.app__right {
  flex: 0.2;
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .app__left {
    margin-right: 0;
  }
}
